@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'HevelticaRoman';
  src: url("../Assets/HelveticaLTStdRoman.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-family: 'HevelticaCond';
  src: url("../Assets/HelveticaLTStdBoldCondObl.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header {
  display: flex;
  background-image: url("../Assets/fondo patitas-01[401].png");
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 10rem; }

.header__logo {
  position: relative;
  margin: 1.25rem 1.25rem 1.25rem 1.25rem;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  border-radius: 50%;
  height: 12.5 rem;
  width: 12.5rem;
  left: 5rem; }

.header__nav {
  position: relative; }

.list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: relative; }

.list__item {
  font-size: 1.5rem;
  color: whitesmoke;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  padding: 5px 15px;
  text-decoration: solid;
  border: 0.3rem solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none; }

.list__item--line, .articulosproductos__boton {
  text-decoration: none;
  font-family: 'HevelticaCond';
  color: black;
  font-size: 1rem; }

.list__item:hover {
  border-bottom: 0.3rem solid whitesmoke;
  transition: all 0.5s ease-in-out; }

/* HEADER MEDIAQUERY*/
@media (max-width: 768px) {
  .header {
    display: inline-block;
    background-image: url("../Assets/fondo patitas-01[401].png");
    width: 100%;
    height: 10rem;
    overflow: scroll; }
  .header__logo {
    position: relative;
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    left: 35rem; }
  .header__nav {
    position: relative;
    top: -8rem;
    left: 4rem; }
  .list {
    display: none; }
  .hamburguer1:checked ~ .list {
    display: block; }
  .hamburguer1 {
    display: none; }
  .hamburguer {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFB600;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none; }
  /* Estilo del boton cuando se pasa el mouse por encima*/
  .hamburguer:hover {
    background: #EF7320; }
  /* Estilo del boton cuando el menú está expandido*/
  .hamburguer1:checked ~ .hamburguer {
    background: #EF7320; }
  .list {
    margin-top: 0;
    padding: 0;
    width: 200px; }
  .list__item {
    display: block;
    background: #FFB600;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 3px outset #EF7320;
    border-radius: 5px; }
  .list__item:hover {
    filter: brightness(110%); }
  /*            INDEX MEDIAQUERYS    */
  .hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 25rem;
    display: inline-block;
    text-align: center;
    background: url("/Assets/animalitos[406].png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    background-color: #EF7320; }
  .hero__text {
    position: relative;
    top: 7rem;
    left: 1rem;
    font-size: 3rem;
    color: #FFB600; }
  h3 {
    color: black;
    text-align: center;
    font-family: 'HevelticaCond';
    font-size: 3rem; }
  .header__nav {
    position: relative;
    right: 2rem; }
  .menupic {
    background-color: #FFB600;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150rem; }
  .menutext {
    height: 8rem;
    padding: 8rem;
    background-color: #FFB600;
    border: 1rem solid #FFB600; }
  .menutext--text {
    font-family: 'HelveticaRoman';
    font-size: 1.6rem; }
  .menupic__art {
    margin: 25px;
    height: 40rem;
    width: 18.75rem;
    background: #FFB600;
    border: solid black;
    border-color: black;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    padding-top: 1rem; }
  .menupic__art--img {
    margin-left: 0.938rem;
    height: 13rem;
    width: 13rem;
    border-radius: 50%; }
  .menupic__text {
    height: 19rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'HelveticaRoman';
    font-size: 1.4rem; }
  /*         DOGS MEDIAQUERY   */
  .heroDog {
    height: 25rem;
    display: inline-block;
    text-align: center;
    background: url("/Assets/portadas_hero1_0_0.png");
    background-repeat: no-repeat;
    background-position-y: -35px;
    background-position-x: -487px;
    background-color: #c63637;
    width: 100%; }
  .menupicp, .menupicg {
    background-color: #FFB600;
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 16rem 16rem;
    height: 40rem; }
  .articulosperro, .articulosgato, .articulosproductos {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 30rem 30rem 30rem;
    background-color: #FFB600;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; }
  .articulosperro__hijo, .articulosproductos__hijo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 0.2rem outset #FF4800;
    font-family: 'HevelticaRoman';
    overflow: hidden; }
  .articulosperro__title {
    font-family: 'HevelticaCond';
    position: relative;
    left: 1.2rem;
    height: auto;
    width: auto; }
  .articulosperro_p {
    font-family: 'HevelticaRoman';
    position: relative;
    font-size: 0.8rem;
    overflow: scroll; }
  .articulosperro__img {
    height: auto;
    width: 30rem;
    position: relative;
    left: 2px;
    top: -1rem; }
  /* CATS MEDIAQUERYS*/
  .heroCat {
    width: 100%;
    height: 35rem;
    display: inline-block;
    text-align: center;
    background: url("../Assets/gatos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    background-position-x: -50px;
    background-color: #924E7D; }
  .menupicg {
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 16rem 16rem;
    height: 40rem;
    background-color: white; }
  .articulosgato {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 30rem 30rem 30rem;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    background-color: white; }
  /* END CATS MEDIAQUERY*/
  /* PRODUCTS MEDIAQUERYS*/
  .heroBuy {
    width: 100%;
    height: 35rem;
    display: inline-block;
    text-align: center;
    background: url("../Assets/hero-productos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -620px; }
  .articulosproductos__hijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'HevelticaRoman';
    overflow: hidden;
    border: 0.2rem solid #EF7320;
    background-color: #FFEB0D;
    border-radius: 0; }
  /* END PRODUCTS MEDIAQUERY*/
  /* CONTACT MEDIAQUERY*/
  .heroContac {
    width: 100%;
    height: 35rem;
    display: inline-block;
    text-align: center;
    background: url("../Assets/portadas_hero4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -50px;
    background-color: #EF7320; }
  .container h2 {
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 2em; }
  .container .box {
    grid-template-columns: 1fr 2fr; }
    .container .box .info {
      grid-row: 1/3;
      font-size: 1.2em;
      background-position-x: -200px; } }

@media (max-width: 425px) {
  /* HEADER MEDIAQUERY MOBILE */
  .header {
    display: inline-block;
    background-image: url("../Assets/fondo patitas-01[401].png");
    width: 100%;
    height: 10rem;
    overflow: scroll; }
  .header__logo {
    position: relative;
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    left: 35rem; }
  .header__nav {
    position: relative;
    top: -8rem;
    left: 4rem; }
  .list {
    display: none; }
  .hamburguer1:checked ~ .list {
    display: block; }
  .hamburguer1 {
    display: none; }
  .hamburguer {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFB600;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none; }
  /* Estilo del boton cuando se pasa el mouse por encima*/
  .hamburguer:hover {
    background: #EF7320; }
  /* Estilo del boton cuando el menú está expandido*/
  .hamburguer1:checked ~ .hamburguer {
    background: #EF7320; }
  .list {
    margin-top: 0;
    padding: 0;
    width: 200px; }
  .list__item {
    display: block;
    background: #FFB600;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 3px outset #EF7320;
    border-radius: 5px; }
  .list__item:hover {
    filter: brightness(110%); }
  /*  HERO END */
  /* INDEX MEDIAQUERY STARTS*/
  .hero {
    position: relative;
    width: 100%;
    height: 25rem;
    display: inline-block;
    text-align: center;
    background: url("/Assets/animalitos[406].png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -194px;
    background-position-y: -50px;
    background-color: #EF7320; }
  .hero__text {
    position: relative;
    left: -3rem;
    font-size: 1rem;
    color: #FFB600; }
  h3 {
    color: black;
    text-align: center;
    font-family: 'HevelticaCond';
    font-size: 3rem; }
  .header__nav {
    position: relative;
    right: 2rem; }
  .menupic {
    background-color: #FFB600;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150rem; }
  .menutext {
    width: 100%;
    height: 19rem;
    padding: 8rem;
    background-color: #FFB600;
    border: 1rem solid #FFB600;
    position: relative;
    left: -3rem; }
  .menutext--text {
    font-family: 'HelveticaRoman';
    font-size: 1.6rem; }
  .menupic__art {
    margin: 25px;
    height: 40rem;
    width: 18.75rem;
    background: #FFB600;
    border: solid black;
    border-color: black;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    padding-top: 1rem; }
  .menupic__art--img {
    margin-left: 0.938rem;
    height: 13rem;
    width: 13rem;
    border-radius: 50%; }
  .menupic__text {
    height: 19rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'HelveticaRoman';
    font-size: 1.4rem; }
  /* INDEX END */
  /* FOOTER MEDIAS */
  foot {
    background-image: url(../Assets/fondopatitas-01[401].png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100%; }
  .buttons {
    min-width: 372px;
    display: flex;
    justify-content: space-around; }
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #FF4800;
    color: #FFB600;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out; }
  .buttons a:hover {
    transform: scale(1.2); }
  /* FOOTER END*/
  /*DOG QUERY */
  .heroDog {
    width: 100%;
    height: 22rem;
    display: inline-block;
    text-align: center;
    background: url("/Assets/portadas_hero1_0_0.png");
    background-repeat: no-repeat;
    background-position-y: -35px;
    background-position-x: -487px;
    background-size: cover;
    background-color: #FFB600; }
  .menutextp {
    width: 100%;
    padding: 1rem;
    background-color: #FFB600;
    font-size: 1rem;
    height: 18rem; }
  .menupicp, .menupicg {
    background-color: #FFB600;
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 16rem 16rem;
    height: 40rem;
    justify-content: start; }
  .menupic__artp {
    height: 200px;
    width: 220px; }
  .menupic__textp {
    display: flex;
    justify-content: center;
    position: relative;
    left: 1rem;
    font-family: 'HevelticaCond';
    font-size: 1.4rem; }
  .articulosperro, .articulosgato, .articulosproductos {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 30rem 30rem 30rem 30rem;
    background-color: #FFB600;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: hidden; }
  .articulosperro__hijo, .articulosproductos__hijo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 0.2rem outset #FF4800;
    font-family: 'HevelticaRoman';
    overflow: hidden; }
  .articulosperro__title {
    font-family: 'HevelticaCond';
    position: relative;
    left: 1.2rem;
    height: auto;
    width: auto; }
  .articulosperro_p {
    font-family: 'HevelticaRoman';
    position: relative;
    font-size: 0.8rem;
    overflow: scroll; }
  .articulosperro__img {
    height: auto;
    width: 30rem;
    position: relative;
    left: 2px;
    top: -1rem; }
  /* DOG END*/
  /* CATS QUERY */
  .heroCat {
    background: url("../Assets/gatos.jpg");
    width: 100%;
    height: 22rem;
    display: inline-block;
    text-align: center;
    background-position-y: -35px;
    background-position-x: -487px;
    background-size: cover;
    background-color: #FFB600; }
  .menutextCat {
    width: 100%;
    padding: 0rem;
    font-size: 1rem;
    height: 18rem;
    background-color: #924E7D; }
  .menupicg {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 16rem 16rem;
    height: 40rem;
    justify-content: start; }
  .articulosgato {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 30rem 30rem 30rem 30rem;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: hidden;
    background-color: white; }
  /* CAT END */
  /* PRODUCTS QUERY*/
  .heroBuy {
    width: 100%;
    height: 22rem;
    display: inline-block;
    text-align: center;
    background-position-y: -35px;
    background-position-x: -487px;
    background-size: cover;
    background-color: #FFB600;
    background: url("../Assets/hero-productos.png"); }
  .articulosproductos__hijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'HevelticaRoman';
    overflow: hidden;
    border: 0.2rem solid #EF7320;
    background-color: #FFEB0D;
    border-radius: 0; }
  /* PRODUCTS END*/ }

.hero {
  width: 100%;
  height: 35rem;
  display: inline-block;
  text-align: center;
  background: url("../Assets/animalitos[406].png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  background-color: #EF7320; }

.hero__text {
  position: relative;
  top: 7rem;
  left: -25rem;
  font-family: "HevelticaCond";
  font-size: 2rem;
  color: #FFB600; }

h3 {
  color: black;
  text-align: center;
  font-family: "HevelticaCond";
  font-size: 3rem; }

.menupic {
  display: inline-block;
  background-color: #FFB600;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40rem; }

.menutext {
  height: 8rem;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFB600; }

.menutext--text {
  font-family: "HelveticaRoman";
  font-size: 1.8rem; }

.menupic__art {
  margin: 25px;
  height: auto;
  width: 18.75rem;
  background: #FFB600;
  border: solid black;
  border-color: black;
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
  padding-top: 1rem; }

.menupic__button {
  background: #EF7320;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #6d4c41;
  display: inline-block;
  transition: all .2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 2.5rem;
  cursor: pointer;
  margin: 0 20px; }

.menupic__button:active {
  top: 3px;
  box-shadow: 0 2px 0px #6d4c41;
  transition: all .2s; }

.menupic__art--img {
  margin-left: 0.938rem;
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  border: 0.5rem inset #EF7320; }

.menupic__text {
  height: 19rem;
  width: 13rem;
  font-family: 'HelveticaRoman';
  font-size: 1.5rem;
  position: relative;
  left: 2rem; }

.hamburguer {
  display: none; }

.hamburguer1 {
  display: none; }

.foot {
  background-image: url("../Assets/fondo patitas-01[401].png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh; }

.buttons {
  min-width: 700px;
  display: flex;
  justify-content: space-around; }

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #FF4800;
  color: #FFB600;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all .4s ease-in-out; }

.buttons a:hover {
  transform: scale(1.2); }

.heroDog {
  width: 100%;
  height: 35rem;
  display: inline-block;
  text-align: center;
  background: url("../Assets/portadas_hero1_0_0.png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  background-color: #FFB600; }

.menutextp {
  height: 8rem;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFB600; }

.menupic__art--imgp, .menupic__art--imgg {
  margin-left: 0.938rem;
  height: 13rem;
  width: 13rem;
  border: 1rem solid #EF7320; }

.DogText, .CatText {
  height: 7rem;
  background-color: #FFB600;
  font-family: 'HevelticaCond';
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem; }

.menupicp, .menupicg {
  background-color: #FFB600;
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto; }

.menupic__textp {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'HevelticaCond';
  font-size: 1.4rem; }

.menupic__artp {
  height: 228px;
  width: 241px; }

.articulosperro, .articulosgato, .articulosproductos {
  width: 100%;
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 35rem 35rem;
  background-color: #FFB600;
  justify-content: center;
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  padding: 4rem; }

.articulosperro__hijo, .articulosproductos__hijo {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 0.2rem outset #EF7320;
  font-family: 'HevelticaRoman';
  overflow: hidden;
  padding: 1rem; }

.articulosperro__title {
  font-family: 'HevelticaCond';
  position: relative;
  left: 1.2rem;
  padding: 1rem; }

.articulosperro_p {
  padding: 1rem;
  font-family: 'HevelticaRoman';
  position: relative;
  left: -1rem; }

.articulosperro__img {
  height: auto;
  width: 30rem;
  position: relative;
  left: 2px;
  top: -1rem; }

.heroCat {
  width: 100%;
  height: 35rem;
  display: inline-block;
  text-align: center;
  background: url("../Assets/gatos.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  background-color: #924E7D; }

.menutextCat {
  height: 8rem;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #924E7D; }

.CatText {
  background-color: white; }

.menupicg {
  background-color: white; }

.menupic__art--imgg {
  border: 1rem solid #924E7D; }

.articulosgato {
  background-color: white; }

.articulosgato__hijo {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 0.2rem outset #924E7D;
  font-family: 'HevelticaRoman';
  overflow: hidden;
  padding: 1rem; }

.heroBuy {
  width: 100%;
  height: 35rem;
  display: inline-block;
  text-align: center;
  background: url("../Assets/hero-productos.png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  background-color: #FFB600; }

.menutextpr {
  height: 8rem;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFB600; }

.articulosproductos {
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 30rem 30rem; }

.articulosproductos__hijo {
  border: 0.2rem solid #EF7320;
  background-color: #FFEB0D;
  border-radius: 0; }

.articulosproductos__img {
  position: relative;
  width: 215px;
  height: 215px;
  top: 0.8rem;
  transition: transform 1s; }

.articulosproductos__img:hover {
  transform: scale(1.5); }

.articulosproductos__text {
  height: 2rem;
  width: 15rem;
  margin-top: 3.5rem;
  padding-top: 0.5rem;
  font-family: "HevelticaCond";
  font-size: 1.3rem; }

.articulosproductos__boton {
  height: auto;
  width: auto;
  position: relative;
  border: 0.3rem solid #EF7320;
  border-radius: 0.5rem;
  bottom: -3.5rem;
  font-size: 1.5rem;
  padding: 0.5rem; }

.articulosproductos__boton:hover {
  background-color: white; }

.heroContac {
  width: 100%;
  height: 35rem;
  display: inline-block;
  text-align: center;
  background: url("../Assets/portadas_hero4.png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  background-color: #EF7320; }

.container {
  width: auto;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr; }
  .container .box {
    display: grid;
    box-shadow: 0px 0px 10px #000;
    background-image: url(../Assets/fondo\patitas-01[401].png); }
    .container .box .info {
      background-image: url(../Assets/perro-del-correo-25577897.jpg);
      background-size: cover;
      background-position-y: -50px;
      background-color: #EF7320; }
  .container form {
    width: 100%;
    height: 30rem;
    display: grid;
    background: #efefef;
    padding: 10px 10px; }
    .container form .name, .container form .pet, .container form .email, .container form .tele {
      margin-bottom: 20px; }
      .container form .name label, .container form .pet label, .container form .email label, .container form .tele label {
        font-size: 14px;
        opacity: .9; }
      .container form .name input, .container form .pet input, .container form .email input, .container form .tele input {
        padding: 5px;
        outline: none;
        border: 1px solid #FFB600;
        width: 95%;
        height: 60%; }
    .container form .message {
      grid-column: 1/3; }
      .container form .message label {
        font-size: 14px;
        opacity: .9; }
      .container form .message #message {
        height: 90px;
        width: 100%;
        padding: 5px;
        outline: none;
        border: 1px solid #FFB600; }
    .container form .submit {
      grid-column: 1/3; }
      .container form .submit input[type=submit] {
        cursor: pointer;
        background: #FFB600;
        letter-spacing: .2em;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        display: block;
        max-width: 80%;
        width: 50%;
        margin: auto;
        text-align: center;
        transition: .3s linear;
        font-weight: bold; }
        .container form .submit input[type=submit]:hover, .container form .submit input[type=submit]:focus {
          color: #efefef;
          background: #EF7320; }

@media (min-width: 700px) {
  .container h2 {
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 2em; }
  .container .box {
    grid-template-columns: 1fr 2fr; }
  .container .box .info {
    grid-row: 1/3;
    font-size: 1.2em; } }

/* HEADER MEDIAQUERY*/
@media (max-width: 768px) {
  .header {
    display: inline-block;
    background-image: url("../Assets/fondo patitas-01[401].png");
    width: 100%;
    height: 10rem;
    overflow: scroll; }
  .header__logo {
    position: relative;
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    left: 35rem; }
  .header__nav {
    position: relative;
    top: -8rem;
    left: 4rem; }
  .list {
    display: none; }
  .hamburguer1:checked ~ .list {
    display: block; }
  .hamburguer1 {
    display: none; }
  .hamburguer {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFB600;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none; }
  /* Estilo del boton cuando se pasa el mouse por encima*/
  .hamburguer:hover {
    background: #EF7320; }
  /* Estilo del boton cuando el menú está expandido*/
  .hamburguer1:checked ~ .hamburguer {
    background: #EF7320; }
  .list {
    margin-top: 0;
    padding: 0;
    width: 200px; }
  .list__item {
    display: block;
    background: #FFB600;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 3px outset #EF7320;
    border-radius: 5px; }
  .list__item:hover {
    filter: brightness(110%); }
  /*            INDEX MEDIAQUERYS    */
  .hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 25rem;
    display: inline-block;
    text-align: center;
    background: url("/Assets/animalitos[406].png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    background-color: #EF7320; }
  .hero__text {
    position: relative;
    top: 7rem;
    left: 1rem;
    font-size: 3rem;
    color: #FFB600; }
  h3 {
    color: black;
    text-align: center;
    font-family: 'HevelticaCond';
    font-size: 3rem; }
  .header__nav {
    position: relative;
    right: 2rem; }
  .menupic {
    background-color: #FFB600;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150rem; }
  .menutext {
    height: 8rem;
    padding: 8rem;
    background-color: #FFB600;
    border: 1rem solid #FFB600; }
  .menutext--text {
    font-family: 'HelveticaRoman';
    font-size: 1.6rem; }
  .menupic__art {
    margin: 25px;
    height: 40rem;
    width: 18.75rem;
    background: #FFB600;
    border: solid black;
    border-color: black;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    padding-top: 1rem; }
  .menupic__art--img {
    margin-left: 0.938rem;
    height: 13rem;
    width: 13rem;
    border-radius: 50%; }
  .menupic__text {
    height: 19rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'HelveticaRoman';
    font-size: 1.4rem; }
  /*         DOGS MEDIAQUERY   */
  .heroDog {
    height: 25rem;
    display: inline-block;
    text-align: center;
    background: url("/Assets/portadas_hero1_0_0.png");
    background-repeat: no-repeat;
    background-position-y: -35px;
    background-position-x: -487px;
    background-color: #c63637;
    width: 100%; }
  .menupicp, .menupicg {
    background-color: #FFB600;
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 16rem 16rem;
    height: 40rem; }
  .articulosperro, .articulosgato, .articulosproductos {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 30rem 30rem 30rem;
    background-color: #FFB600;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; }
  .articulosperro__hijo, .articulosproductos__hijo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 0.2rem outset #FF4800;
    font-family: 'HevelticaRoman';
    overflow: hidden; }
  .articulosperro__title {
    font-family: 'HevelticaCond';
    position: relative;
    left: 1.2rem;
    height: auto;
    width: auto; }
  .articulosperro_p {
    font-family: 'HevelticaRoman';
    position: relative;
    font-size: 0.8rem;
    overflow: scroll; }
  .articulosperro__img {
    height: auto;
    width: 30rem;
    position: relative;
    left: 2px;
    top: -1rem; }
  /* CATS MEDIAQUERYS*/
  .heroCat {
    width: 100%;
    height: 35rem;
    display: inline-block;
    text-align: center;
    background: url("../Assets/gatos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    background-position-x: -50px;
    background-color: #924E7D; }
  .menupicg {
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 16rem 16rem;
    height: 40rem;
    background-color: white; }
  .articulosgato {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 30rem 30rem 30rem;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    background-color: white; }
  /* END CATS MEDIAQUERY*/
  /* PRODUCTS MEDIAQUERYS*/
  .heroBuy {
    width: 100%;
    height: 35rem;
    display: inline-block;
    text-align: center;
    background: url("../Assets/hero-productos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -620px; }
  .articulosproductos__hijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'HevelticaRoman';
    overflow: hidden;
    border: 0.2rem solid #EF7320;
    background-color: #FFEB0D;
    border-radius: 0; }
  /* END PRODUCTS MEDIAQUERY*/
  /* CONTACT MEDIAQUERY*/
  .heroContac {
    width: 100%;
    height: 35rem;
    display: inline-block;
    text-align: center;
    background: url("../Assets/portadas_hero4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -50px;
    background-color: #EF7320; }
  .container h2 {
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 2em; }
  .container .box {
    grid-template-columns: 1fr 2fr; }
    .container .box .info {
      grid-row: 1/3;
      font-size: 1.2em;
      background-position-x: -200px; } }

@media (max-width: 425px) {
  /* HEADER MEDIAQUERY MOBILE */
  .header {
    display: inline-block;
    background-image: url("../Assets/fondo patitas-01[401].png");
    width: 100%;
    height: 10rem;
    overflow: scroll; }
  .header__logo {
    position: relative;
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    left: 35rem; }
  .header__nav {
    position: relative;
    top: -8rem;
    left: 4rem; }
  .list {
    display: none; }
  .hamburguer1:checked ~ .list {
    display: block; }
  .hamburguer1 {
    display: none; }
  .hamburguer {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #FFB600;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none; }
  /* Estilo del boton cuando se pasa el mouse por encima*/
  .hamburguer:hover {
    background: #EF7320; }
  /* Estilo del boton cuando el menú está expandido*/
  .hamburguer1:checked ~ .hamburguer {
    background: #EF7320; }
  .list {
    margin-top: 0;
    padding: 0;
    width: 200px; }
  .list__item {
    display: block;
    background: #FFB600;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 3px outset #EF7320;
    border-radius: 5px; }
  .list__item:hover {
    filter: brightness(110%); }
  /*  HERO END */
  /* INDEX MEDIAQUERY STARTS*/
  .hero {
    position: relative;
    width: 100%;
    height: 25rem;
    display: inline-block;
    text-align: center;
    background: url("/Assets/animalitos[406].png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -194px;
    background-position-y: -50px;
    background-color: #EF7320; }
  .hero__text {
    position: relative;
    left: -3rem;
    font-size: 1rem;
    color: #FFB600; }
  h3 {
    color: black;
    text-align: center;
    font-family: 'HevelticaCond';
    font-size: 3rem; }
  .header__nav {
    position: relative;
    right: 2rem; }
  .menupic {
    background-color: #FFB600;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150rem; }
  .menutext {
    width: 100%;
    height: 19rem;
    padding: 8rem;
    background-color: #FFB600;
    border: 1rem solid #FFB600;
    position: relative;
    left: -3rem; }
  .menutext--text {
    font-family: 'HelveticaRoman';
    font-size: 1.6rem; }
  .menupic__art {
    margin: 25px;
    height: 40rem;
    width: 18.75rem;
    background: #FFB600;
    border: solid black;
    border-color: black;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    padding-top: 1rem; }
  .menupic__art--img {
    margin-left: 0.938rem;
    height: 13rem;
    width: 13rem;
    border-radius: 50%; }
  .menupic__text {
    height: 19rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'HelveticaRoman';
    font-size: 1.4rem; }
  /* INDEX END */
  /* FOOTER MEDIAS */
  foot {
    background-image: url(../Assets/fondopatitas-01[401].png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100%; }
  .buttons {
    min-width: 372px;
    display: flex;
    justify-content: space-around; }
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #FF4800;
    color: #FFB600;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out; }
  .buttons a:hover {
    transform: scale(1.2); }
  /* FOOTER END*/
  /*DOG QUERY */
  .heroDog {
    width: 100%;
    height: 22rem;
    display: inline-block;
    text-align: center;
    background: url("/Assets/portadas_hero1_0_0.png");
    background-repeat: no-repeat;
    background-position-y: -35px;
    background-position-x: -487px;
    background-size: cover;
    background-color: #FFB600; }
  .menutextp {
    width: 100%;
    padding: 1rem;
    background-color: #FFB600;
    font-size: 1rem;
    height: 18rem; }
  .menupicp, .menupicg {
    background-color: #FFB600;
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 16rem 16rem;
    height: 40rem;
    justify-content: start; }
  .menupic__artp {
    height: 200px;
    width: 220px; }
  .menupic__textp {
    display: flex;
    justify-content: center;
    position: relative;
    left: 1rem;
    font-family: 'HevelticaCond';
    font-size: 1.4rem; }
  .articulosperro, .articulosgato, .articulosproductos {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 30rem 30rem 30rem 30rem;
    background-color: #FFB600;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: hidden; }
  .articulosperro__hijo, .articulosproductos__hijo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 0.2rem outset #FF4800;
    font-family: 'HevelticaRoman';
    overflow: hidden; }
  .articulosperro__title {
    font-family: 'HevelticaCond';
    position: relative;
    left: 1.2rem;
    height: auto;
    width: auto; }
  .articulosperro_p {
    font-family: 'HevelticaRoman';
    position: relative;
    font-size: 0.8rem;
    overflow: scroll; }
  .articulosperro__img {
    height: auto;
    width: 30rem;
    position: relative;
    left: 2px;
    top: -1rem; }
  /* DOG END*/
  /* CATS QUERY */
  .heroCat {
    background: url("../Assets/gatos.jpg");
    width: 100%;
    height: 22rem;
    display: inline-block;
    text-align: center;
    background-position-y: -35px;
    background-position-x: -487px;
    background-size: cover;
    background-color: #FFB600; }
  .menutextCat {
    width: 100%;
    padding: 0rem;
    font-size: 1rem;
    height: 18rem;
    background-color: #924E7D; }
  .menupicg {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: 16rem 16rem;
    height: 40rem;
    justify-content: start; }
  .articulosgato {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 30rem 30rem 30rem 30rem;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: hidden;
    background-color: white; }
  /* CAT END */
  /* PRODUCTS QUERY*/
  .heroBuy {
    width: 100%;
    height: 22rem;
    display: inline-block;
    text-align: center;
    background-position-y: -35px;
    background-position-x: -487px;
    background-size: cover;
    background-color: #FFB600;
    background: url("../Assets/hero-productos.png"); }
  .articulosproductos__hijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'HevelticaRoman';
    overflow: hidden;
    border: 0.2rem solid #EF7320;
    background-color: #FFEB0D;
    border-radius: 0; }
  /* PRODUCTS END*/ }
