.heroCat{
   @include HeroStyles;
    background: url("../Assets/gatos.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;    
    background-size: cover;
    background-position-y: -50px ;
    background-color:  #924E7D;;
}

.menutextCat{
    @include MenuTextStyles;
   background-color:#924E7D ;

    }

    .CatText{
       
        background-color: white;
        @extend .DogText 
        }

    .menupicg{

        @extend .menupicp;
        background-color: white;
       
        
    }

    .menupic__art--imgg{
        @extend .menupic__art--imgp;
        border: 1rem solid #924E7D  ;
       
    }


    .articulosgato{
        @extend .articulosperro;
        background-color: white;
        
    
    }
    
    .articulosgato__hijo{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        border: 0.2rem outset #924E7D;
        font-family: 'HevelticaRoman';    
        overflow: hidden;
        padding: 1rem;
        
        
    }