.header{
    display:flex;
    background-image: url("../Assets/fondo\ patitas-01[401].png");
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo{
    position: relative;
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    padding:1.25rem 1.25rem 1.25rem 1.25rem; 
    border-radius: 50%;
    height: 12.5 rem;
    width: 12.5rem;
    left: 5rem;
}

.header__nav{
    position: relative;
    right: 10rem;
    
}



.list{
        display: flex;
        justify-content: space-around;
        list-style:none;
        position: relative;
        

    }

 
.list__item{
    
    
	font-size: 1.5rem;
	color: whitesmoke;
	position: relative;
    display: inline-block;
    margin-right: 15px;
    padding: 5px 15px;
    text-decoration: solid;
    border: 0.3rem solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}


.list__item--line{
    text-decoration: none;
    font-family:'HevelticaCond';
    color:black;
    font-size: 1.7rem;
    
    }

.list__item:hover{
    border-bottom: 0.3rem solid whitesmoke;

    transition: all 0.5s ease-in-out;
  
  
}
