@font-face{
    font-family: 'HevelticaRoman';
    src: url('../Assets/HelveticaLTStdRoman.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-family: 'HevelticaCond' ;
    src: url('../Assets/HelveticaLTStdBoldCondObl.otf') format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
