

$base-color: #FFB600;
$secondary-color: #EF7320; 
$titlefont: 'HevelticaCond';
$titletext: 'HelveticaRoman';

$display: (
 diplay: none 
) ;



@mixin HeroStyles {
    
    width: 100%;
    height: 35rem;
    display: inline-block;
    text-align: center 
}

@mixin MenuTextStyles {
    height: 8rem;
    padding: 8rem;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
